<h1>API</h1>
{% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!!
{% endif %}
<form>
    <button formaction="/login">Log in</button>
    <button formaction="/logout">Log out</button>
    <button formaction="/api/register">Register</button>
</form>
